<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
 <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>

  <!-- start navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background: #f67c92">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Smart Contact Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/about}">About</a>
        </li>
        
        <li class="nav-item">
         <a class="nav-link" th:href="@{/signin}">Login</a>
        </li>
        
         <li class="nav-item">
        <a class="nav-link" th:href="@{/signup}">Signup</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>
<!-- end navbar -->

	<div class="container">
		<div class="card mx-5 my-5">
				
				<!-- message set -->
				<div th:if="${session.message}">
				
				<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
					<span th:text="${session.message}"></span>
		  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				
				</div>

			<div class="card-body">
			
				<h1 class="text-center text-muted"><span><img th:src="@{/icons/user.png}" alt="" /></span> Change Your Password</h1>
				
				<div class="container-fluid">
				
					<div class="row">
					
						<div class="col-md-8">
						
						<div class="col-sm-12 offset-3">
						
							<!-- start form -->
							<form th:action="@{/send-otp}" method="post">
							
							
							<!-- Input Field -->
						   <div class="input-group mb-3">
 							<span class="input-group-text" id="basic-addon1"><img th:src="@{/icons/friend-add.png}" alt="" /></span>
  							<input type="email" 
  							name="email" 
  							class="form-control" 
  							placeholder="Enter email here" 
  							required="required">
							</div>
							
							<div class="text-center">
							<button type="submit" class="btn btn-outline-primary">Send OTP</button>
							<button type="reset" class="btn btn-outline-danger">Reset</button>
							</div>
							
							</form>
							<!-- end form -->
	</div>
						</div>
					
					</div>
					
				
				</div>
			
			</div>
			
		</div>
	
	
	
</div>
 <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>
</html>